/* #main.css *\

/*-----------------------------------*\
  Colors and Typography
\*-----------------------------------*/
:root {
  /* colors */
  --slate-blue: #6093c3;
  --blue-light: #f0f6fb;
  --teal-light: #eef6f9;
  --grey-light: #f6f8fa;
  --grey-med: #f5f5f5;
  --white: hsla(0, 0%, 100%, 1);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --cultured: hsla(220, 20%, 97%, 1);
  --snow: hsla(345, 57%, 97%, 1);
  --manatee: hsla(219, 10%, 62%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
  --gunmetal: hsla(214, 15%, 21%, 1);
  --charcoal: hsla(219, 22%, 26%, 1);
  /* typography */
  --ff-manrope: 'Manrope', sans-serif;
  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: calc(2.6rem + .24vw);
  --fs-4: 1.7rem;            /* was 1.9rem */
  --fs-5: 1.6rem;            /* was 1.8rem */
  --fs-6: 1.5rem;            /* was 1.7rem */
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fw-700: 700;
  /* spacing */
  --section-padding: 60px;
  /* box shadow */
  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);
  /* border radius */
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-8: 8px;
  --radius-6: 6px;
  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;

  /* profile picture */
  .image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
}
}

